{% load staticfiles %}

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 

{% block content %}
	<h1>Booked Trades</h1>
	
		<table border="0" width="100%">
			<tr>
				<td width="72%"></td>
				<td>
					<form method="POST" action="/trades/new_trade/">
						{% csrf_token %}
						<button type="submit" class="btn btn-primary"/>New Trade</button> 
					</form>
				</td>
			</tr>
		</table>
	
	{% if trade_list %}	
		<table class="table table-striped" border="0" width="100%">
			<tr>
				<th>Sell CCY</th>
				<th>Sell Amount</th>
				<th>Buy CCY</th>
				<th>Buy Amount</th>
				<th>Rate</th>
				<th>Date Booked</th>
			</tr>
			    {% for trade in trade_list %}
			    	<tr>
				    	<td>{{ trade.sell_currency }}</td>
				    	<td>{{ trade.sell_amount }}</td>
				    	<td>{{ trade.buy_currency }}</td>
				    	<td>{{ trade.buy_amount }}</td>
				    	<td>{{ trade.rate }}</td>
				    	<td>{{ trade.date_booked }}</td>
				    </tr>
				{% endfor %}
		 </table>
	{% else %}
		<p>No trades are available.</p>
	{% endif %}
{% endblock %}