{% load staticfiles %}

{% block javascript %}	
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script language="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script type="text/javascript">

		$(function() {
			$("#ajaxProgress").hide();
		  	$("#id_sell_currency").change( function () {
		  		$("#save_button").attr('disabled','disabled');
		  		$("#ajaxProgress").show();
		        $.ajax({
		        	url: '/trades/update_trade/',
		          	dataType: 'json',
		          	data: {
		            	'sell_currency':$("#id_sell_currency").val(),
		            	'buy_currency': $("#id_buy_currency").val()
		          	},
		          	success: function (data) {
		            	$('#id_rate').attr('value', data.ratio);
		            	$('#id_buy_amount').attr('value', data.ratio*$("#id_sell_amount").val());
		            	$("#save_button").removeAttr('disabled');
		            	$("#ajaxProgress").hide();
		          	}
		        });
		      });
		  
	    	$("#id_buy_currency").change( function () {
		  		$("#save_button").attr('disabled','disabled');
		  		$("#ajaxProgress").show();
	      		$.ajax({
	        		url: '/trades/update_trade/',
	        		dataType: 'json',
	        		data: {
	          			'sell_currency':$("#id_sell_currency").val(),
		            	'buy_currency': $("#id_buy_currency").val()
	        		},
	        		success: function (data) {
	            		$('#id_rate').attr('value', data.ratio);
	            		$('#id_buy_amount').attr('value', data.ratio*$("#id_sell_amount").val());
		            	$("#save_button").removeAttr('disabled');
		            	$("#ajaxProgress").hide();
	        		}
	      		});
	   		});
	   		
	    	$("#id_sell_amount").on('input', function(){ 
		  		$("#save_button").attr('disabled','disabled');
		  		$("#ajaxProgress").show();
	      		$.ajax({
	        		url: '/trades/update_trade/',
	        		dataType: 'json',
	        		data: {
	          			'sell_currency':$("#id_sell_currency").val(),
		            	'buy_currency': $("#id_buy_currency").val()
	        		},
	        		success: function (data) {
	            		$('#id_rate').attr('value', data.ratio);
	            		$('#id_buy_amount').attr('value', data.ratio*$("#id_sell_amount").val());
		            	$("#save_button").removeAttr('disabled');
		            	$("#ajaxProgress").hide();
	        		}
	      		});
	   		});
 		    	
		});
	</script>
{% endblock %}


{% block content %}
	<h1>New Trade</h1>
	
	<div class="content container">
		<div class="row">
			<div class="col-md-8">
            	<form method="POST" action="">

            		{% csrf_token %}
					<table border="0" width="100%">
						<tr>
      						<td>{{ form.sell_currency.label_tag }}</td>
      						<td>{{ form.rate.label_tag }}</td>
							<td>{{ form.buy_currency.label_tag }}</td>
    					</tr>
      					<tr>
        					<td>{{ form.sell_currency }} </td>
          					<td>&#9654 {{ form.rate }} &#9654 </td>
          					<td>{{ form.buy_currency }}</td>
      					</tr>
      					<tr>  
      						<td><hr /></td>
      						<td><hr /></td> 
      						<td><hr /></td>  
      					</tr>
      					<tr>
        					<td>{{form.sell_amount.label_tag }}</td>
        					<td></td>
							<td>{{form.buy_amount.label_tag }}</td>
      					</tr>  
      					<tr>
        					<td>{{form.sell_amount}}</td>
        					<td></td>
							<td>{{form.buy_amount}}</td>
      					</tr>
      					<tr>  
      						<td><hr /></td>
      						<td><hr /></td> 
      						<td><hr /></td>  
      					</tr>
      					<tr>
							<td><button class="btn btn-primary" type="submit" name="submit" id="save_button">Create</button></td>
							<td></td>
							<td><button class="btn btn-primary" type="reset" onclick="location.href = '{% url 'trades:index' %}';" name="cancel"  id="cancel_button" formnovalidate>Cancel</button></td>
      					</tr>
      				</table>

				</form>    			    
			</div>
		</div>
	</div>
	
	
	<div id="ajaxProgress">
		<p>Please Wait...</p>
	</div>
{% endblock %}
